.scrim {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.editor {
    border: 1px solid white;
    background-color: rgb(40, 40, 40);
    padding: 9px;
    min-width: 600px;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    align-items: center;
    gap: 6px 6px;
    grid-template-areas:
        "nameLabel nameBox"
        "shareLabel shareBox"
        "macroBox macroBox"
        "buttonBox buttonBox";
}

.nameLabel { grid-area: nameLabel; }
.nameBox { grid-area: nameBox; }
.shareLabel { grid-area: shareLabel; }
.shareBox { grid-area: shareBox; }
.macroBox { grid-area: macroBox; }

.buttonBox {
    grid-area: buttonBox;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editorPart {
    display: flex;
    flex-grow: 1;
}

.editorPartEditor {
    flex-grow: 1;
}

.addButton {
    float: right;
}